<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<false/>
	<key>CalendarPath</key>
	<string>/remote.php/dav/calendars/admin/BB3D6BC8-1D37-4389-896F-8E60E9D865EA/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>490479A6-A164-4935-B016-51F5A7B95204</string>
	<key>Order</key>
	<integer>1</integer>
	<key>OwnerPrincipalPath</key>
	<string>/remote.php/dav/principals/users/admin/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Europe/London</string>
	<key>Title</key>
	<string>Personal</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
