<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<false/>
	<key>CalendarPath</key>
	<string>/remote.php/dav/calendars/admin/A240C987-C979-4823-90C2-54E15C30933C/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>3FAE8E66-98CC-45C4-88A4-2E624DD89A91</string>
	<key>Order</key>
	<integer>5</integer>
	<key>OwnerPrincipalPath</key>
	<string>/remote.php/dav/principals/users/admin/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Europe/London</string>
	<key>Title</key>
	<string>Travel</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
