<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<false/>
	<key>CTag</key>
	<string>FT=-@RU=23fc0d64-6e3c-4f6c-a546-92c391889aa5@S=18054</string>
	<key>CalendarPath</key>
	<string>/1527326467/calendars/58DF58E5-9743-4C37-A203-26747E82FA86/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>A37205E1-EA8D-4046-B0DF-AF035C7973BC</string>
	<key>Order</key>
	<integer>1</integer>
	<key>OwnerPrincipalPath</key>
	<string>/1527326467/principal/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>PushKey</key>
	<string>1527326467</string>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Europe/London</string>
	<key>Title</key>
	<string>Main</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
