<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<false/>
	<key>CTag</key>
	<string>FT=-@RU=56675e9b-0bc0-4741-93e4-24a65a870a31@S=14986</string>
	<key>CalendarPath</key>
	<string>/1527326467/calendars/40e88a87376b4115ca45523829848cf5e5104bf1be159b87bdaa7d894155f4c3/</string>
	<key>CanBePublished</key>
	<false/>
	<key>Checked</key>
	<integer>1</integer>
	<key>Color</key>
	<string>#44A703FF</string>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>99152671-1795-4D5C-8866-D11AABACEC75</string>
	<key>Order</key>
	<integer>8</integer>
	<key>OwnerDisplayName</key>
	<string>Juliet Moorhead</string>
	<key>OwnerPrincipalPath</key>
	<string>/132408229/principal/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>PreferredOwnerAddresses</key>
	<array>
		<dict>
			<key>PreferredOwnerAddressesAddress</key>
			<string>/aMTMyNDA4MjI5MTMyNDA4Mm1BlBuZs-7W-3dKcWa-QofzPMljmCfOX6OEPTx7Mb7-/principal/</string>
			<key>PreferredOwnerAddressesPreferred</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>PreferredOwnerAddressesAddress</key>
			<string>urn:uuid:132408229</string>
			<key>PreferredOwnerAddressesPreferred</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>PreferredOwnerAddressesAddress</key>
			<string>mailto:julesmoosa@icloud.com</string>
			<key>PreferredOwnerAddressesPreferred</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>PreferredOwnerAddressesAddress</key>
			<string>mailto:julesmoosa@hotmail.com</string>
			<key>PreferredOwnerAddressesPreferred</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PreferredOwnerAddressesAddress</key>
			<string>/132408229/principal</string>
			<key>PreferredOwnerAddressesPreferred</key>
			<integer>-1</integer>
		</dict>
	</array>
	<key>PushKey</key>
	<string>1527326467</string>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Europe/London</string>
	<key>Title</key>
	<string>Freddie</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
