<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmFilter</key>
	<true/>
	<key>AlarmsDisabled</key>
	<false/>
	<key>AttachmentFilter</key>
	<true/>
	<key>AutoProvisioned</key>
	<false/>
	<key>AutoRefresh</key>
	<true/>
	<key>Availability</key>
	<true/>
	<key>CalendarPath</key>
	<string>/remote.php/dav/calendars/admin/CECB5EE3-4210-4BB6-9BBB-C52EB5C40CE6/</string>
	<key>CanBePublished</key>
	<false/>
	<key>Checked</key>
	<integer>1</integer>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<false/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>IsSubscription</key>
	<true/>
	<key>Key</key>
	<string>09B13D99-A9F9-4422-B1F7-AD6D5C0DF482</string>
	<key>NeedsRefresh</key>
	<false/>
	<key>Notes</key>
	<string>University of Bath timetable - UEME-AFM16-1 - MEng (hons) Mechanical Engineering</string>
	<key>Order</key>
	<integer>7</integer>
	<key>OwnerPrincipalPath</key>
	<string>/remote.php/dav/principals/users/admin/</string>
	<key>Permission</key>
	<integer>2</integer>
	<key>RefreshDate</key>
	<date>2020-01-25T17:52:38Z</date>
	<key>RefreshInterval</key>
	<integer>3600</integer>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>SubscriptionNotes</key>
	<string>University of Bath timetable - UEME-AFM16-1 - MEng (hons) Mechanical Engineering</string>
	<key>SubscriptionTitle</key>
	<string>University of Bath timetable - UEME-AFM16-1 - MEng (hons) Mechanical Engineering</string>
	<key>SubscriptionURL</key>
	<string>https://mytimetable.bath.ac.uk/ical?5d8b84ee&amp;group=false&amp;timetable=!MjAxOSFwb3MhRTRCRUIxN0Q4MTk5QkNBNTQyMjYzRUIyNzRFRTE3QkI=&amp;eu=ZnJrbTIw&amp;h=BZ3887P-VgbQ5ggcTxbKirVGVxggmo1Skdc7N_3g5oU=</string>
	<key>TaskContainer</key>
	<true/>
	<key>TaskFilter</key>
	<true/>
	<key>TimeZone</key>
	<string>Europe/London</string>
	<key>Title</key>
	<string>University of Bath timetable - UEME-AFM16-1 - MEng (hons) Mechanical Engineering</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
