<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmsDisabled</key>
	<false/>
	<key>Availability</key>
	<false/>
	<key>CalendarPath</key>
	<string>/remote.php/dav/calendars/admin/5A5C8371-F2BF-4BA4-AAA3-FA9EA5FB9C3A/</string>
	<key>CanBePublished</key>
	<true/>
	<key>Checked</key>
	<integer>1</integer>
	<key>ColorEditable</key>
	<true/>
	<key>Delegate</key>
	<false/>
	<key>Editable</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>EventContainer</key>
	<true/>
	<key>Key</key>
	<string>F74FD068-D671-4466-A7B3-9C8FDD3194D5</string>
	<key>Order</key>
	<integer>8</integer>
	<key>OwnerPrincipalPath</key>
	<string>/remote.php/dav/principals/users/admin/</string>
	<key>Permission</key>
	<integer>4</integer>
	<key>Renameable</key>
	<true/>
	<key>ShareDefaultAlarmSettings</key>
	<true/>
	<key>TaskContainer</key>
	<false/>
	<key>TimeZone</key>
	<string>Europe/London</string>
	<key>Title</key>
	<string>Undefined</string>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
